@import url('https://fonts.cdnfonts.com/css/8bit-wonder');



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: '8BIT WONDER', sans-serif;
}


#canvas {
    border: 1px solid black;

}

.textBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}