body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}


#canvas {
    border: 1px solid black;

}

.textBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}